
// secret.ejs
  
<h1>This is secret page</h1>
  
<img height="100px" width="100px" src="https://dhrcoder.com/img/coding.png">
  
<h1>This is home page</h1>
  
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>